body {
    background-color: #e6f2ff;
    color: #000;
    font-family: 'Tahoma', sans-serif;
}

header ul li a {
    color: #004d99;
}

form {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
